.container {
  font-size: 16px;
  padding: 0 0 10rem 0;
}

.HexagonTile {
  background: red;
  position: relative;
  height: 16em;
  width: 15em;
  margin: 0px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.HexagonTile:nth-child(2n) {
  position: relative;
  margin-left: -7.6em;
  top: 11.8em;
}

.HexagonTile::before {
  content: '';
  position: absolute;
  z-index: -1;
  background: white;
  width: 98%;
  height: 98%;
  top: 1%;
  left: 1%;
  right: 1%;
  bottom: 1%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

}

.row {
  display: flex;
}
